@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Vollkorn&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size:18px;
    font-family: 'Vollkorn', sans-serif;
}
:root{
    --main-background-color:#2e1065;
    --element-color:#6d28d9;
    --light-color:#c4b5fd;
    --header-color:#a78bfa;
    --main-font-color: #ede9fe;
    --header-font-color:rgb(37, 37, 37);
    --button-color:#2fb6f5;
}
body{
    background-color: var(--main-background-color);
    max-height: 100vh;
    color:var(--main-font-color)
}



.container{
    display:grid;
    grid-template: 0.25fr 4fr / 0.75fr  4fr;
    max-height:100%;
}



.container .content-display{
    grid-area: 2/2/3/3;
    display:grid;
    grid-template: repeat(auto-fit, minmax(250px, 1fr))/1fr 1fr 1fr;
    gap:5px;
    height: 100%;
    width: 100%;
    grid-template: 1fr/3fr 1fr;
}

.content-display>.item-display{
    display:grid;
    grid-template: repeat(auto-fill, minmax(200px,1fr))/1fr 1fr;
    gap:10px;
    padding:20px;

}
.item-display>.item{
    padding:10px;
    border-left:5px solid var(--element-color);
    background-color: var(--light-color);
    color:black;
    border-radius: 12px;
    height:auto;
    position:relative;
}
.item>title{
    font-size: 0.8rem;
    font-weight: bold;
}
.item>.content{
    font-size: 0.7rem;
    overflow:hidden
}
.item>.icons{
    display:flex;
    background-color: transparent;
    position:absolute;
    bottom: 10px;
    right:10px;
   
    min-height:30px;
    min-width:120px;
    max-width: 10%;
    max-height: 5%;
    
    justify-content: center;
    
}
.icons>img{
    flex:1;
    max-height:25px;
    max-width: 33%;
    filter: invert(19%) sepia(44%) saturate(6086%) hue-rotate(259deg) brightness(92%) contrast(101%);
    transition: background-color 0.3s ease;
}
.icons>img:not([alt="delete"]):hover{
    

filter: invert(75%) sepia(37%) saturate(555%) hue-rotate(119deg) brightness(102%) contrast(90%);
}

.icons>img[alt="delete"]:hover{
    filter: invert(11%) sepia(74%) saturate(6105%) hue-rotate(358deg) brightness(119%) contrast(117%);
}




.content-display>.alerts{
    grid-area: 1/2/1/3;
    padding:10px;
    display:grid;
    grid-template:1fr 1fr/1fr;
    max-height: 100%;

}
.alerts>.alert-box{
    display:grid;
    grid-template: 0.05fr 1fr/1fr;
    margin-bottom:15px;
}
.announcement-box, .trending-box{
    background-color: var(--light-color);
    border-radius:8px;
    /* box-shadow: 2px 2px 3px 0 var(--element-color); */
    display:flex;
    flex-direction: column;
    color:black;
    font-size:0.5rem;
}
.alert-box>.title{
    height:auto;
}
.trending-box{
    padding:10px;
    max-height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.trend{
    overflow: hidden;
    max-height: 33%;
    padding:2px;
    margin-bottom: 2px;
    margin-top: 6px;
    
    flex:1;
}
.trend:not(:last-child){
    border-bottom: 1px solid black;
   
}
.announcement-box{
    padding:10px;
    max-height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.announcement{
    overflow: hidden;
    max-height: 33%;
    padding:9px;
    margin-bottom: 6px;
    margin-top: 6px;
   
    flex:1;
}
.announcement:not(:last-child){
    border-bottom: 1px solid black;
   
}


.container .sidebar{
    background-color: var(--element-color);
    grid-area: 1/1/3/2;
    display:flex;
    flex-direction: column;
    padding:10px;
  
    
}
.sidebar #sidebar-top{
    width:100%;
    text-align:left;
    font-size: 1.5rem;
    height:5vh;
    margin-bottom: 8vh;
}
.sidebar .sidebar-item{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    height:auto;
    margin-bottom:20px;
    border-radius: 15px;
    
}
.sidebar .sidebar-item:hover{
    background-color: var(--header-color);
}


.container .header{
    background-color: var(--header-color);
    grid-area: 1/2/2/3;
    color: var(--header-font-color);
    
    display:grid;
    grid-template: 1fr 1fr/ 1fr;
    grid-template-areas: "area-top"
                          "area-bottom";
    padding:10px;
}
.header>.header-top{
    grid-area: "area-top";
    display:inline-flex;


}
.header-top img{
    width:3vh;
    height:3vh;
    filter: invert(25%) sepia(97%) saturate(6161%) hue-rotate(262deg) brightness(87%) contrast(96%);
}
.header-top textarea{
    height:3vh;
    flex:1;
    resize: none;
    border: none;
    border-radius: 8px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
    font-size: 0.8rem;
}
textarea:focus{
    border:none;
    outline:none;
}
.header-top .profile{
   flex:1;
   display:flex;
   justify-content: flex-end;
}



.header>.header-bottom{
    grid-area: "area-bottom";
    display:grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas: "greeting" "actions";
}
.header-bottom>.greeting{
    grid-area: "greeting"

}
.header-bottom img{
    border-radius: 50%;
    height:4vh;
    width:4vh;
}
.header-bottom span{
    padding:10px;
    
}
.header-bottom>.actions{
    grid-area: "actions";
    display: inline-flex;
    justify-content: space-around;
}
.actions >button{
    font-size: 0.8rem;
    border:none;
    background-color: var(--button-color);
    width:100px;
    height:30px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.actions>button:hover{
    background-color: #5eead4;
}